{% load static %}
{% load crispy_forms_tags  %}

<!DOCTYPE HTML>
<!--
	Traveler by freehtml5.co
	Twitter: http://twitter.com/fh5co
	URL: http://freehtml5.co
-->
<html>

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
	<title>Travoyage</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords"
		content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content="" />
	<meta property="og:image" content="" />
	<meta property="og:url" content="" />
	<meta property="og:site_name" content="" />
	<meta property="og:description" content="" />
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

	<!-- Animate.css -->
	<link rel="stylesheet" href="{% static 'css/animate.css' %}">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{% static 'css/icomoon.css' %}">
	<!-- Themify Icons-->
	<link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">

	<!-- Magnific Popup -->
	<link rel="stylesheet" href="{% static 'css/bootstrap-datepicker.min.css' %}">

	<!-- Owl Carousel  -->
	<link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.theme.default.min.css' %}">

	<!-- Theme style  -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">

	<!-- Modernizr JS
	<script src="{% static 'js/modernizr-2.6.2.min.js ' %}"></script> -->
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

</head>

<body>


	<div id="page">


		<!-- <div class="page-inner"> -->
		<nav class="gtco-nav" role="navigation">
			<div class="gtco-container">

				<div class="row">
					<div class="col-sm-4 col-xs-12">
						<div id="trav-logo"><a href="index.html"><img src="{% static 'images/rsz_travoyage.png' %}"></a></div>
					</div>
					<div class="col-xs-8 text-right menu-1">
						<ul>
							<li><a href="destination.html">Destinations</a></li>
							<li><a href="special_assistance.html">Special Assistance</a></li>
							<li><a href="lounge.html">Travoyage Lounge</a></li>
							<li><a href="contact.html">Contact Us</a></li>
							{% if request.user.is_authenticated %}
							<li><a href="/my_account">My Account</a></li>
							<li><a href="{%url 'account_logout'%}">Logout</a></li>

							{% else %}
							<li><a href="{%url 'account_login'%}">Login</a>/<a
									href="{%url 'account_signup'%}">Register</a></li>
							{% endif %}
						</ul>
					</div>
				</div>

			</div>
		</nav>

		<!--<img src="{% static 'images/home_flight.jpg'%}" width="1700" class="set-bg"	> -->
		<header id="gtco-header" class="gtco-cover gtco-cover-md" role="banner"
			style="background-image: url(/static/images/home_flight.jpg)">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12 col-md-offset-0 text-left">


						<div class="row row-mt-15em">

							<div class=" col-md-12 animate-box" data-animate-effect="fadeInRight">
								<div class="form-wrap">



										<div class="tab-content">
											<div>
												<center><h3>Congratulations! Your flight has been booked!</h3>
                                                        <p>We hope you have an amazing trip!</p></center>

													{% for flight in list %}
															<div class="col-lg-12 col-md-4 col-sm-6 ">

															<div class="booking">

																<img class="col-md-1" src="/media/{{ flight.ticket.image }}">

																<h4 align="left">{{flight.ticket.flight_no}}, {{flight.ticket.airline}}</h4>
																<h4 align="left">{{flight.ticket.date}}</h4>
																<p class="alignleft">🛫  From: {{flight.ticket.start}}, {{flight.ticket.start_time}}  </p>
                            									<p class="alignright" style="padding-right: 1em;">🛬  To: {{flight.ticket.destination}}, {{flight.ticket.arrival_time}}</p>
																<div style="clear: both;"></div>
																Number of Seats: <b>{{flight.quantity}}</b>, &emsp;
																Class: <b>{{flight.class_display}}</b>
															</div>
															</div>
													{% endfor %}


												<center><a href="#"><span class="btn btn-primary booking_b">Print</span></a><a href="/"><span class="btn btn-primary booking_b">Done!</span></a></center>
											</div>
										</div>


								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
	</div>
	</header>



	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	<!-- jQuery -->
	<script src="{% static 'js/jquery.min.js' %}"></script>
	<!-- jQuery Easing -->
	<script src="{% static 'js/jquery.easing.1.3.js' %}"></script>
	<!-- Bootstrap -->
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<!-- Waypoints -->
	<script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
	<!-- Carousel -->
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<!-- countTo -->
	<script src="{% static 'js/jquery.countTo.js' %}"></script>
	<script src="{% static 'js/sticky.js' %}"></script>
	<script src="{% static 'js/hoverIntent.js' %}"></script>
	<script src="{% static 'js/superfish.js' %}"></script>


	<!-- Stellar Parallax -->
	<script src="{% static 'js/jquery.stellar.min.js' %}"></script>

	<!-- Magnific Popup -->
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/magnific-popup-options.js' %}"></script>

	<!-- Datepicker -->
	<script src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>


	<!-- Main -->
	<script src="{% static 'js/main.js' %}"></script>

</body>

</html>