{% extends "base.html" %}
{% load static %}

<html>
	<head>
	<title>Traveler &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
	</head>
	<body>
	{% block content %}

	<div id="page">


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/static/images/home_flight.jpg	)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>{{object.name}}</h1>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center gtco-heading">
					<h3 style="color: #09C6AB">{{object.quote}}</h3>
				</div>
			</div>
			<div class="row">

				<div class="col-lg-6 col-md-6 col-sm-6">
					<h4>About</h4>
					<p>{{object.about}}</p>
					<br>
					<h4>Places to Visit</h4>
					<p>{{object.things_to_do}}</p>
					<br>
					<a href="/"><button class="btn btn-primary" type="submit">Search for Flights Now!</button></a>
				</div>


				<div class="col-lg-6 col-md-6">
					<div style="margin: 0 auto;">

						{% if object.name == 'Paris, France' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=Paris%2C%20France&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% elif object.name == 'New York, The United States' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=New%20York%2C%20United%20States%20of%20America&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% elif object.name == 'Seoul, South Korea' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=Seoul%2C%20South%20Korea&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% elif object.name == 'Sydney, Australia' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=Sydney%2C%20Australia&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% elif object.name == 'Athens, Greece' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=Athens%2C%20Greece&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% elif object.name == 'Madrid, Spain' %}
						<iframe width="600" height="500" src="https://maps.google.com/maps?q=Madrid%2C%20Spain&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>

						{% endif %}

					</div>
				</div>

<!--				<div class="mapouter">-->
<!--					<div class="gmap_canvas">-->
<!--						<iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=New%20York%2C%20United%20States%20of%20America&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>-->
<!--					</div>-->
<!--				</div>-->

<!--				<div class="col-lg-4 col-md-4 col-sm-6">-->
<!--					<h4>Quote on the City</h4>-->
<!--					<p>{{object.quote}}</p>-->
<!--				</div>-->

<!--				<div class="col-lg-4 col-md-4 col-sm-6">-->
<!--					<h4>Places to Visit</h4>-->
<!--					<p>{{object.things_to_do}}</p>-->
<!--				</div>-->

			</div>
		</div>
	</div>



	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>

	{% endblock content %}

	<!-- jQuery -->
	<script src="js/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/jquery.waypoints.min.js"></script>
	<!-- Carousel -->
	<script src="js/owl.carousel.min.js"></script>
	<!-- countTo -->
	<script src="js/jquery.countTo.js"></script>

	<!-- Stellar Parallax -->
	<script src="js/jquery.stellar.min.js"></script>

	<!-- Magnific Popup -->
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/magnific-popup-options.js"></script>

	<!-- Datepicker -->
	<script src="js/bootstrap-datepicker.min.js"></script>


	<!-- Main -->
	<script src="js/main.js"></script>

	</body>
</html>

