{% extends "base.html" %}
{% load crispy_forms_tags  %}

{% block content%}
<div id="page">


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/static/images/home_flight.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>Details Confirmation</h1>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="col-lg-8">
			<div class="row">
				<p> Please confirm your details below in order to finalize your flight:</p>
                            <div class="col-lg-12">
                             <form method="POST">
                                 {% csrf_token %}
                                {{ form|crispy }}

                                 <button class="btn btn-primary btn-lg" type="submit">Proceed</button>
                             </form>
                               </div>

                        </div>
			</div>
		</div>
	</div>
{% endblock %}