{% extends "base.html" %}


{% block content%}
<div id="page">


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/static/images/home-2.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>{{object.airline}}, {{object.flight_no}}</h1>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="col-lg-5">
                <img class="col-md-2" src="/media/{{ object.image }}">
				<h2>{{object.airline}} - {{object.flight_no}}</h2>
<!--                <h5> {{object.flight_no}}</h5>-->
            <br>
            <h3 style="color: #09C6AB;" >🛫  {{object.start}} &emsp; ({{object.start_code}})</h3><h5>{{object.start_time}}</h5>
                <h5>TO</h5>
            <h3 style="color: #09C6AB;">🛬   {{object.destination}} &emsp; ({{object.destination_code}}) </h3><h5>{{object.arrival_time}}</h5>


			</div>
            <div class="col-lg-7">
                        <div class="checkout__order">
                            <div class="checkout__order__product">

                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th scope="col">Flight Number</th>

                                            <th scope="col">Class</th>

                                            <th scope="col">Seats Available</th>

                                            <th scope="col">Price per Ticket</th>
                                        </tr>
                                    </thead>
                                    <br>
                                    <tbody>
                                        <tr>

                                            <td>{{ object.flight_no }}</td>

                                            <td>Economy</td>

                                            <td>
                                                    {{ object.number_seats_available }}
                                            </td>

                                            <td>
                                                ${{ object.price }}
                                            </td>

                                        </tr>

                                        <tr>
                                            <td></td>

                                            <td>First Class</td>

                                            <td>
                                                    {{ object.first_class_seats }}
                                            </td>

                                            <td>
                                                ${{ first_class_price}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>


                            </div>

                           <div class="checkout__order__widget">

                            </div>
                            <div >
                               <center><a class="btn btn-primary" href="{{ object.add_to_cart_url}}"> Proceed and Confirm</a></center>
                            </div>
                        </div>
                    </div>
		</div>
	</div>
     {% if cheaper_flights %}
<div class="gtco-section">
		<div class="gtco-container">
     <hr>
            <br>

            <center><p>Travoyage ensures that you choose the best option for yourself.</p></center>
                <h4>Cheaper flight(s) from {{object.start}} to {{object.destination}}:</h4>
            {% for flight in cheaper_flights %}
                    <a class="fh5co-card-item " href="{{flight.get_abs_url}}">

						<div class="fh5co-text">

							<h4 align="left">{{flight.flight_no}}, {{flight.airline}}</h4>
							<img class="col-md-2" src="/media/{{ flight.image }}">
							<p align="left">{{flight.date}}</p>
							<p align="left">🛫  Departure: {{flight.start}}, {{flight.start_time}}  </p>
                            <p align="left">🛬   To: {{flight.destination}}, {{flight.arrival_time}}</p>
							<p align="left">Flight Duration: {{flight.duration_hr}} hours {{flight.duration_min}} minutes</p>
							<p align="right"><span class="btn btn-primary" >Book</span></p>
						</div>
					</a>
            {% endfor %}

        </div>
</div>
         {% endif %}
{% endblock %}