{% extends "base.html" %}


{% block content%}
<div id="page">


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(images/img_6.jpg)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>{{object.airline}}, {{object.flight_no}}</h1>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>

	<div class="gtco-section">
		<div class="gtco-container">
			<div class="col-lg-8">
			<h2>{{object.airline}}</h2>
            <br>
            <h4>{{object.start}}</h4>
                <br>
            <h4>{{object.destination}}</h4>
			</div>
			<div class="col-lg-4">
                        <div class="checkout__order">
                            <div class="checkout__order__product">

                                <table class="table">
                                    <thead>
                                        <tr>

                                            <th scope="col">Flight Number</th>


                                            <th scope="col">Price per Ticket</th>
                                        </tr>
                                    </thead>
                                    <br>
                                    <tbody>
                                        <tr>

                                            <td>{{ object.flight_no }}</td>

                                            <td>
                                                ${{ object.price }}
                                            </td>

                                        </tr>

                                        <tr>

                                        </tr>
                                    </tbody>
                                </table>


                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li><b>Number of Seats</b><span>



                                            <b>{{ seats }} </b>


                                        </span></li>

                                </ul>
                            </div>
                            <div class="checkout__order__total">
                                <ul>
                                    <li><b>Total</b><span>



                                            <b>${{ object.price }} </b>


                                        </span></li>

                                </ul>
                            </div>
                            <div class="checkout__order__widget">
                                <label></label>
                            </div>
                            <div >
                                <button class="btn btn-primary"> Proceed </button>
                            </div>

                        </div>
                    </div>
		</div>
	</div>
{% endblock %}