{% extends "base.html" %}
<html>
	<head>
	<title>Traveler</title>
	</head>
	<body>
	{% block content %}


	<header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/static/images/home_flight.jpg	)">
		<div class="overlay"></div>
		<div class="gtco-container">
			<div class="row">
				<div class="col-md-12 col-md-offset-0 text-center">
					<div class="row row-mt-15em">

						<div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
							<h1>My Flights</h1>
						</div>

					</div>

				</div>
			</div>
		</div>
	</header>


	<div class="gtco-section border-bottom">
		<div class="gtco-container">
			<div class="row">
                <a href="/my_account" class="btn btn-primary ">Back to My Account</a>
				<div class="col-md-12">
					<div class="col-md-7 animate-box">
                        <hr>
					<h3>Hi {{user}}</h3>
                    <hr>
                    {% if flights %}
					Given below are the flights that you have booked:
                        <br>
                        <ul>
                        {% for flight in flights%}
                           <li> {{flight.ticket.airline}} {{flight.ticket.flight_no}} from {{flight.ticket.start}} to {{flight.ticket.destination}} on {{flight.ticket.date}}</li>
                            <br>
                        {% endfor %}
                            </ul>
                    {% else %}
                        Sorry, you have not booked a flight yet.
                    {% endif %}
                        <hr>
                <br>
				</div>
				<div class="col-md-4 col-md-push-1 animate-box">

					<div class="gtco-contact-info">
						<h3>Happy Travelling!!</h3>
						<h3>Quench the wanderlust in you!</h3>
						<a href="/destination.html" class="btn btn-primary btn-sm">Explore Destinations</a>
						<a href="/index.html" class="btn btn-primary btn-sm">Book a Flight</a>
					</div>



				</div>
				</div>
			</div>
		</div>
	</div>

	<!-- </div> -->

	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	{% endblock content %}
	</body>
</html>

