
{% load static %}
<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
<title>Travoyage</title>
<!-- for-mobile-apps -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Bus Ticket Reservation Widget Responsive, Login form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<!-- //for-mobile-apps -->
<link href='//fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
<link href='//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.seat-charts.css' %}">
<link href="{% static 'css/style_seatnew.css' %}" rel="stylesheet" type="text/css" media="all" />
<script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
<script src="{% static 'js/jquery.seat-charts.js' %}"></script>
</head>
<body>

<div class="content">
	<h1>Seats</h1>
	<div class="main">
		<h2>Book Your Seat Now!</h2>
		<div class="wrapper">
			<div id="seat-map" class="seatCharts-container" tabindex="0" aria-activedescendant="1_1">
				<div class="front-indicator"><h3>Front</h3></div>
			<div class="seatCharts-row">
                <div class="seatCharts-cell seatCharts-space">1</div>
                <div id="1_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell first-class focused">A</div>
                <div id="1_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell first-class unavailable">B</div>
                <div id="1_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell first-class unavailable">C</div>
                <div class="seatCharts-cell seatCharts-space"></div>
                <div id="1_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class">D</div>
                <div id="1_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class">E</div>
                <div id="1_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class">F</div>

            </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">2</div>
                    <div id="2_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div id="2_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div id="2_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="2_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                    <div id="2_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                    <div id="2_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">3</div>
                    <div id="3_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div id="3_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div id="3_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="3_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                    <div id="3_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                    <div id="3_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available first-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">4</div>
                    <div id="4_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="4_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="4_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="4_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="4_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="4_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">5</div>
                    <div id="5_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="5_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="5_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="5_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="5_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="5_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">6</div>
                    <div id="6_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="6_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="6_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="6_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="6_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="6_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">7</div>
                    <div id="7_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="7_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="7_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="7_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="7_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="7_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">8</div>
                    <div id="8_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="8_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="8_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="8_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="8_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="8_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">9</div>
                    <div id="9_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="9_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="9_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="9_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="9_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="9_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">10</div>
                    <div id="10_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="10_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="10_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="10_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="10_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="10_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">11</div>
                    <div id="11_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="11_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="11_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="11_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="11_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="11_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">12</div>
                    <div id="12_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class " style="box-shadow: 5px 0px 0px 0px red inset"></div>
                    <div id="12_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="12_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="12_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="12_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="12_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class" style="box-shadow: -5px 0px 0px 0px red inset"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">13</div>
                    <div id="13_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class " style="box-shadow: 5px 0px 0px 0px red inset"></div>
                    <div id="13_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="13_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="13_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="13_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="13_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class" style="box-shadow: -5px 0px 0px 0px red inset"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">14</div>
                    <div id="14_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="14_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="14_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="14_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="14_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="14_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">15</div>
                    <div id="15_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="15_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="15_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="15_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="15_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="15_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">16</div>
                    <div id="16_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="16_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="16_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="16_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="16_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="16_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">17</div>
                    <div id="17_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="17_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="17_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="17_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="17_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="17_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">18</div>
                    <div id="18_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="18_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="18_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="18_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="18_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="18_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">19</div>
                    <div id="19_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="19_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="19_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="19_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="19_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="19_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>
                <div class="seatCharts-row">
                    <div class="seatCharts-cell seatCharts-space">20</div>
                    <div id="20_A" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="20_B" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div id="20_C" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class "></div>
                    <div class="seatCharts-cell seatCharts-space"></div>
                    <div id="20_D" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="20_E" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                    <div id="20_F" role="checkbox" aria-checked="false" focusable="true" tabindex="-1" class="seatCharts-seat seatCharts-cell available economy-class"></div>
                </div>

            </div>
			<div class="booking-details">
						<div id="legend" class="seatCharts-legend"><ul class="seatCharts-legendList"><li class="seatCharts-legendItem"><div class="seatCharts-seat seatCharts-cell available first-class"></div><span class="seatCharts-legendDescription">First Class</span></li><li class="seatCharts-legendItem"><div class="seatCharts-seat seatCharts-cell available economy-class"></div><span class="seatCharts-legendDescription">Economy Class</span></li><li class="seatCharts-legendItem"><div class="seatCharts-seat seatCharts-cell unavailable first-class"></div><span class="seatCharts-legendDescription">Already Booked</span></li></ul></div>
						<h3> Selected Seats (<span id="counter">0</span>):</h3>
						<ul id="selected-seats" class="scrollbar scrollbar1" tabindex="5000" style="overflow: hidden; outline: none;"></ul>

						Total: <b>$<span id="total">0</span></b>

						<button class="checkout-button">Pay Now</button>
			</div>
			<div class="clear"></div>
		</div>
        <script>
				var firstSeatLabel = 1;

				$(document).ready(function() {
					var $cart = $('#selected-seats'),
						$counter = $('#counter'),
						$total = $('#total'),
						sc = $('#seat-map').seatCharts({
<!--						map: [-->
<!--							'fff_fff',-->
<!--							'fff_fff',-->
<!--							'eee_eee',-->
<!--							'eee__e_',-->
<!--							'eee_eee',-->
<!--							'eee_eee',-->
<!--							'eee_eee'-->
<!--						],-->
						seats: {
							f: {
								price   : 100,
								classes : 'first-class', //your custom CSS class
								category: 'First Class'
							},
							e: {
								price   : 40,
								classes : 'economy-class', //your custom CSS class
								category: 'Economy Class'
							}

						},
						naming : {
							top : false,
							getLabel : function (character, row, column) {
								return firstSeatLabel++;
							},
						},
						legend : {
							node : $('#legend'),
							items : [
								[ 'f', 'available',   'First Class' ],
								[ 'e', 'available',   'Economy Class'],
								[ 'f', 'unavailable', 'Already Booked']
							]
						},
						click: function () {
							if (this.status() == 'available') {
								//let's create a new <li> which we'll add to the cart items
								$('<li>'+this.data().category+' : Seat no '+this.settings.label+': <b>$'+this.data().price+'</b> <a href="#" class="cancel-cart-item">[cancel]</a></li>')
									.attr('id', 'cart-item-'+this.settings.id)
									.data('seatId', this.settings.id)
									.appendTo($cart);

								/*
								 * Lets update the counter and total
								 *
								 * .find function will not find the current seat, because it will change its stauts only after return
								 * 'selected'. This is why we have to add 1 to the length and the current seat price to the total.
								 */
								$counter.text(sc.find('selected').length+1);
								$total.text(recalculateTotal(sc)+this.data().price);

								return 'selected';
							} else if (this.status() == 'selected') {
								//update the counter
								$counter.text(sc.find('selected').length-1);
								//and total
								$total.text(recalculateTotal(sc)-this.data().price);

								//remove the item from our cart
								$('#cart-item-'+this.settings.id).remove();

								//seat has been vacated
								return 'available';
							} else if (this.status() == 'unavailable') {
								//seat has been already booked
								return 'unavailable';
							} else {
								return this.style();
							}
						}
					});

					//this will handle "[cancel]" link clicks
					$('#selected-seats').on('click', '.cancel-cart-item', function () {
						//let's just trigger Click event on the appropriate seat, so we don't have to repeat the logic here
						sc.get($(this).parents('li:first').data('seatId')).click();
					});

					//let's pretend some seats have already been booked
					sc.get(['1_2', '4_1', '7_1', '7_2']).status('unavailable');

			});

			function recalculateTotal(sc) {
				var total = 0;

				//basically find every selected seat and sum its price
				sc.find('selected').each(function () {
					total += this.data().price;
				});

				return total;
			}
		</script>
	</div>
</div>





<script src="{% static 'js/jquery.nicescroll.js'%}"></script>
<script src="{% static 'js/scripts.js'%}"></script>

</body>
</html>
