{% extends "base.html" %}
{% load static %}

<html>
<head>
    <title>Traveler &mdash; Free Website Template, Free HTML5 Template by FreeHTML5.co</title>
    <link href="{% static 'css/style_spec_assist.css' %}" rel="stylesheet" type="text/css" media="all" />
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
{% block content %}

<div id="page">


    <header id="gtco-header" class="gtco-cover gtco-cover-sm" role="banner" style="background-image: url(/static/images/home_flight.jpg	)">
        <div class="overlay"></div>
        <div class="gtco-container">
            <div class="row">
                <div class="col-md-12 col-md-offset-0 text-center">
                    <div class="row row-mt-15em">

                        <div class="col-md-12 mt-text animate-box" data-animate-effect="fadeInUp">
                            <h1>Special Assistance</h1>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </header>


    <div class="gtco-section3">
        <div class="col-md-8 col-md-offset-2 text-center gtco-heading m-class">
            <h2>Need Special Assistance?</h2>
            <p>Fret not! At Travoyage, we take care of your needs before you even think of them!</p>
        </div>

        <div class="container">
            <div class="tabs-sa">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item sa-options">
                        <a class="" data-toggle="tab" href="#tab-1">Senior Citizens</a>
                    </li>

                    <li class="nav-item sa-options">
                        <a class="" data-toggle="tab" href="#tab-2">Mobility Assistance</a>
                    </li>

                    <li class="nav-item sa-options">
                        <a data-toggle="tab" href="#tab-3" class="">Unaccompanied Minor</a>
                    </li>

                    <li class="nav-item sa-options">
                        <a data-toggle="tab" href="#tab-4" class="active show">Expecting Mother</a>
                    </li>
                </ul>
            </div>
        </div>


        <div class="tab-content">
            <div class="tab-pane active" id="tab-1">
                <div class="gtco-container padding-tab">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4>Our Services</h4>
                            <p>Any passenger aged 60 years or above can avail the "Senior Citizen Special Assistance". The following will be provided in the form of assistance:</p>
                            <ul>
                                <li>A wheelchair with an attendant</li>
                                <li>A loader to assist with luggage</li>
                                <li>Priority Check in</li>
                                <li>Priority Boarding and Deboarding</li>
                                <li>Assistance with stowing and retrieving baggage</li>
                            </ul>
                            <br>
                            <h4>Charges</h4>
                            <p>At Travoyage we are committed to making our senior customers’ travel experience enjoyable and comfortable. There are no additional charges to avail special assistance for senior citizens.</p>
                            <br>
                        </div>


                        <div class="col-lg-6 col-md-6" style="overflow: hidden ;">
                            <img width="350" src="{% static 'images/wheelchair.jpg' %}" >
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="tab-2">
                <div class="gtco-container padding-tab">
                    <div class="row">

                        <div class="col-lg-6 col-md-6" style="overflow: hidden ;">
                            <img width="400" src="{% static 'images/wheelchair2.jpg' %}" >
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 3em;">
                            <h4>Our Services</h4>
                            <p>Any passenger with a mobility disability can avail special assistance under this category. The following will be provided in the form of assistance:</p>
                            <ul>
                                <li>A wheelchair with an attendant</li>
                                <li>A loader to assist with luggage</li>
                                <li>Priority Check in</li>
                                <li>Priority Boarding and Deboarding</li>
                                <li>Assistance with stowing and retrieving baggage</li>
                                <li>Individual safety briefing by the Cabin Crew</li>
                            </ul>
                            <br>
                            <h4>Charges</h4>
                            <p>At Travoyage we strive to make our special customers’ travel experience most comfortable. There are no additional charges for availing special assistance in this category.</p>
                            <br>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
             <div class="tab-pane" id="tab-3">
                <div class="gtco-container padding-tab">
                    <div class="row">

                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <h4>Our Services</h4>
                            <p>Any passenger between the ages of 6-11 years is <strong>required</strong> to book this service. Passengers between the ages of 12-18 years can choose to avail this service on a payment basis.The following will be provided in the form of assistance:</p>
                            <ul>
                                <li>A loader to assist with luggage</li>
                                <li>A Travoyage escort to assist the minor with check-in, security checks, immigration and customs</li>
                                <li>Priority Check in</li>
                                <li>Priority Boarding and Deboarding</li>
                                <li>Assistance with stowing and retrieving baggage</li>
                                <li>Individual safety briefing by the Cabin Crew</li>
                            </ul>
                            <br>
                            <h4>Charges</h4>
                            <p>At Travoyage we are committed to making our young customers’ travel experience most comfortable. In order to provide a good experience, we charge a fee of $25 to avail special assistance in this category. </p>
                            <br>
                        </div>


                        <div class="col-lg-6 col-md-6" style="overflow: hidden ;">
                            <img width="350" src="{% static  'images/minor.jpg' %}" >
                        </div>


                    </div>
                </div>

                <div class="clearfix"></div>
            </div>
            <div class="tab-pane" id="tab-4">
                <div class="gtco-container padding-tab">
                    <div class="row">

                        <div class="col-lg-6 col-md-6" style="overflow: hidden ;">
                            <img width="650" src="{% static 'images/expecting_mother.jpg' %}" >
                        </div>

                        <div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 3em;">
                            <h4>Our Services</h4>
                            <p>All customers falling in this category <strong>are required</strong> to show a recent "fit-to-fly" certificate from their treating Gynecologist. The following will be provided in the form of assistance:</p>
                            <ul>
                                <li>A loader to assist with luggage</li>
                                <li>A wheelchair, if the passenger requires it</li>
                                <li>Priority Check in</li>
                                <li>Priority Boarding and Deboarding</li>
                                <li>Assistance with stowing and retrieving baggage</li>
                                <li>Individual safety briefing by the Cabin Crew</li>
                            </ul>
                            <br>
                            <h4>Charges</h4>
                            <p>At Travoyage we strive to make our special customers’ travel experience most comfortable. There are no additional charges for availing special assistance in this category.</p>
                            <br>
                        </div>

                    </div>
                </div>

                <div class="clearfix"></div>
            </div>

        </div>

    </div>


    <div class="gototop js-top">
        <a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
    </div>

    {% endblock content %}

    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- jQuery Easing -->
    <script src="js/jquery.easing.1.3.js"></script>
    <!-- Bootstrap -->
    <script src="js/bootstrap.min.js"></script>
    <!-- Waypoints -->
    <script src="js/jquery.waypoints.min.js"></script>
    <!-- Carousel -->
    <script src="js/owl.carousel.min.js"></script>
    <!-- countTo -->
    <script src="js/jquery.countTo.js"></script>

    <!-- Stellar Parallax -->
    <script src="js/jquery.stellar.min.js"></script>

    <!-- Magnific Popup -->
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/magnific-popup-options.js"></script>

    <!-- Datepicker -->
    <script src="js/bootstrap-datepicker.min.js"></script>


    <!-- Main -->
    <script src="js/main.js"></script>

</body>
</html>

